.cardtop {
  background-color: rgb(10, 34, 36, 0.2);
  animation: change 8s infinite;
  padding: 0 0;
}

@keyframes change {
  25% {
    background-color: rgb(#0e5767, 0.3);
  }
  50% {
    background-color: rgb(#0e5f68, 0.3);
  }
  75% {
    background-color: rgba(23, 122, 139, 0.3);
  }
  100% {
    background-color: rgb(#0b5161, 0.2);
  }
}

.card-text {
  color: rgba(245, 245, 245, 0.838);
}
