body {
  color: white;
}
.card {
  background-color: rgb(11, 87, 90);
  padding: 10px 10px;
}
.card-body {
  text-align: center;
  margin: 4px 4px;
  padding: 0;
}
.card-img {
  margin: 10px 5px;
}
.card-img-top {
  display: center;
}
.text-center {
  font-size: large;
}
.card-title {
  font-weight: 300;
}
h1 {
  text-align: center;
}
