body {
  margin: 15px 15px;
  font-family: "WildWest", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-center {
  font-size: 30px !important;

  font-weight: 500 !important;
}
.preloader {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  color: black;
}
